<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - hexschool</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>我發完 PR 了!可以下班了嗎？</p>
  </body>
</html>
